
/*Estilo de fuente para toda la página*/
*{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.page1{
  background-image : url(./imagenes-pokemon/fondoPagina1.jpg);
  text-align: center;
}

.logo{
  width: 300px;
  padding-top: 100px;
  padding-bottom: 50px;
}

h1{
  font-size: 30px;
  color: white;
  padding-bottom: 20px;
}

/*botones de ingreso*/
.userData{
  border-style:none;
  border-radius: 10px;
  position:center;
  background-color: gray;
  opacity: .4;
  font-size: 1.2em;
  width: 250px;
  height: 35px;
  margin-bottom: 10px
  /*line-height: 20px;*/ /*revisar salto de linea*/
}

::placeholder{
  color: black;
  text-align: center;
  font-weight: lighter;
}

/*Botón ingresar*/
.button-enter{
  margin-top: 30px;
  margin-bottom: 50px;
  border-style: none;
  border-radius: 10px;
  position:center;
  background-color: yellow;
  font-size: 0.9em;
  color: black;
  width: 100px;
  height: 30px;
}

/*botones redes sociales*/
.socialMedia{
margin-bottom: 30px;
width: 40px;
}

.newUser{
  color: white;
  padding-top: 30px;
  padding-bottom: 100px;
  
}

.page2{
  background-image : url(./imagenes-pokemon/fondoPagina1.jpg);
  text-align: center;
  margin-bottom: 100px;;
}

.closeIcon{
  width: 20px;
  float: right;
  margin-top: 20px;
  margin-right: 20px;
}

h2{
  font-size: 30px;
  color: white;
  padding-top: 150px;
  padding-bottom: 20px;
}

.newUserForm{
  padding-bottom: 50px;
}

h4{
  color: white;
  padding: 20px;
}

.homepage{
  background-image : url(./imagenes-pokemon/fondoPagina2.png);
  margin-top: -100px;
  padding-bottom: 700px;
 }

 .titlePokemon{
   color:#00214E;
   font-size: 30px;
   text-align: center;
   font-weight: bolder;
   padding-top: 70px;
   padding-bottom: 50px;
 }

.redButton{
    border-style:none;
    border-radius: 10px;
    position:center;
    background-color: red;
    opacity: .9;
    font-size: 1.2em;
    width: 150px;
    height: 50px;
    margin-bottom: 10px;
  display: block;
  position: relative;
  left: 110px;
  margin-bottom: 30px;
 }

.redButton2{
  border-style:none;
  border-radius: 10px;
  position:center;
  background-color: red;
  font-size: 1.2em;
  width: 150px;
  height: 50px;
  margin-bottom: 10px;
  display: block;
  position: relative;
  left: 110px;
  margin-bottom: 30px;
  font-weight: bold;
}

.blueButton{
  border-style:none;
  border-radius: 10px;
  position:center;
  background-color:#00214E;
  font-size: 1.2em;
  width: 150px;
  height: 50px;
  margin-bottom: 10px;
  display: block;
  position: relative;
  left: 110px;
  margin-bottom: 30px;
  font-weight: bold;

}

.redButton-1{
  opacity: 0.40;
}




.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: gray;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  /*crea el circulo que cambia de lado*/
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: black;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  /*color azul */
  input:checked + .slider {
    background-color:blue;
  }
  
  
  /*movimiento de circulo*/
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /*border redondos de elemento exterior*/
  .slider.round {
    border-radius: 34px;
  }
  
  /*border redondos de elemento interior*/
  .slider.round:before {
    border-radius: 50%;
  } 
  
  /*Menú desplegable*/
  *{
     box-sizing:border-box;
     margin:0;
     padding:0;
     }
                    
     li{
     list-style-type:none;
     position:relative;
     width:120px;
     }
                  
    li a{
    text-decoration:none;
    display:inline-block;
    padding:5px 10px;
    width:120px;
    height:30px;
    border:1px solid #000;
    color:#000;
    }
              
    .more{
     display:inline-block;
     position:absolute;
     right:0px;
     font-size:30px;
     }       
/* 
 #log-in{
        display: inline-block;
      }
      
      #sign-in{
        display: none;
      }
      #menu{
         display: none;
      }
      #button-red-1{
        display: inline-block;
      }
      
      #list{
        display:none;
      }
      
      #pokemon-file{
        display:none;
      }
      
      #pokemon-centers{
        display:none;
      } */


      .listPokemon{
        display: flex;
      }
      .listPokemon img{
        max-width: 50px;
      }

       .card{
        padding: 20px;
        margin: 20px;
        box-shadow: 1px 2px 10px grey;
        border-radius: 5px;
        transition:all .3s ease-in;
      }
       .card:hover{
        box-shadow: 2px 5px 12px lightgrey;
        transform: scale(.99)
      }
      
      .close:hover,
      .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
      }
      .modal {
      
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
      }
      
      .close {
        color: black;
        float: right;
        font-size: 28px;
        font-weight: bold;
      }
      
      #orderpokemon, #typepokemon {
        overflow: hidden;
        text-align: center;
        display: flex;
        margin: 120px auto;
        background: blue;
        border: none;
        border-radius: 12px;
        color: #ffffff;
        padding: 10px 40px 10px 30px;
        margin-bottom: 10px;
        align-content: center;
        font-size: 18px;
    }
      #orderpokemon:hover, #typepokemon:hover {
        background: rgb(35,95,190);
    }
    
    #allThePokemones {
        display: flex;
        flex-wrap: wrap;
        padding: 20px 20px 40px 100px;
       
    }
      